<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>

    <add key="appconnectionStrings" value="data source=(local);database=PMS_DB; Integrated Security=false; user id=sa; password=amsoftbd%2014; pooling=true; Max Pool Size = 1000;Connection Timeout=6000"/>
    <add key="securityconnectionStrings" value="data source=(local);database=SECURITYDB; Integrated Security=false; user id=sa; password=amsoftbd%2014; pooling=true; Max Pool Size = 1000;Connection Timeout=6000"/>
    <add key="DBBackupDestination" value="C:\TESTDBBACKUP\"/>
  </appSettings>
</configuration>