<?xml version="1.0"?>
<configuration>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Extensions" publicKeyToken="31bf3856ad364e35"/>
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Extensions.Design" publicKeyToken="31bf3856ad364e35"/>
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<appSettings>
		<add key="DBBackupDestination" value="C:\TESTDBBACKUP\"/>
		<add key="ImageStoreDirectory" value="~/Photo"/>
		<add key="SignatureStoreDirectory" value="~/Signature"/>
		<add key="FirstWebSite" value="FirstWebSite"/>
		<add key="Report_ServerName" value="(local)"/>
		<add key="Report_ServerDBName" value="PMS_DB"/>
		<add key="Report_UserID" value="sa"/>
		<add key="Report_Password" value="amsoftbd%2014"/>
		<add key="appconnectionStrings" value="data source=(local);database=PMS_DB; Integrated Security=false; user id=sa; password=amsoftbd%2014; pooling=true; Max Pool Size = 1000;Connection Timeout=6000"/>
		<add key="securityconnectionStrings" value="data source=(local);database=SECURITYDB; Integrated Security=false; user id=sa; password=amsoftbd%2014; pooling=true; Max Pool Size = 1000;Connection Timeout=6000"/>
	</appSettings>
	<connectionStrings>
		<add name="Personal" connectionString="Data Source=(local);Initial Catalog=PERSONAL;User ID=sa;Password=amsoftbd%2014; Integrated Security=False;" providerName="System.Data.SqlClient"/>
		<remove name="LocalSqlServer"/>
		<add name="LocalSqlServer" connectionString="Data Source=(local);Initial Catalog=ASPNETDB;User ID=sa;Password=amsoftbd%2014; Integrated Security=False;"/>
		<!--
	 <add name="Personal" connectionString="Data Source=.\SQLExpress;Integrated Security=True;User Instance=True;AttachDBFilename=|DataDirectory|Personal.mdf" providerName="System.Data.SqlClient"/>
	 <remove name="LocalSqlServer"/>
	 <add name="LocalSqlServer" connectionString="Data Source=.\SQLExpress;Integrated Security=True;User Instance=True;AttachDBFilename=|DataDirectory|aspnetdb.mdf"/>
	
-->
	</connectionStrings>
	<system.web>
		<httpHandlers>
			<add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" validate="false"/>
		</httpHandlers>
		<pages styleSheetTheme="Default"/>
		<customErrors defaultRedirect=""/>
		<compilation debug="true">
			<assemblies>
				<add assembly="System.Data, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Windows.Forms, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="CrystalDecisions.CrystalReports.Engine, Version=10.2.3600.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
				<add assembly="CrystalDecisions.Shared, Version=10.2.3600.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
				<add assembly="Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Web.Extensions.Design, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="Microsoft.ReportViewer.WebForms, Version=8.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
			</assemblies>
			<buildProviders>
				<add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.Common, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
			</buildProviders>
		</compilation>
		<authentication mode="Forms">
			<forms loginUrl="Default.aspx" protection="Validation" timeout="300"/>
		</authentication>
		<authorization>
			<deny users="golam"/>
		</authorization>
		<globalization requestEncoding="utf-8" responseEncoding="utf-8"/>
		<roleManager enabled="true"/>
		<siteMap defaultProvider="XmlSiteMapProvider" enabled="true">
			<providers>
				<add name="XmlSiteMapProvider" description="SiteMap provider which reads in .sitemap XML files." type="System.Web.XmlSiteMapProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" siteMapFile="web.sitemap" securityTrimmingEnabled="true"/>
			</providers>
		</siteMap>
	</system.web>
	<location path="Admin">
		<system.web>
			<authorization>
				<allow roles="Administrators"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>
</configuration>
